footer {
  display: flex;
  justify-content: space-evenly;
}
.hero {
  background: #e8d9f9;
  padding: 100px 30px;
  font-family: "Source Serif 4", sans-serif;
  text-align: center;
  font-style: italic;
}
.hero h1 {
  font-size: 60px;
}
.hero p {
  font-size: 30px;
  margin: 0;
}
.leaf-icon {
  color: #ed1515;
}

.navigation-links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 35px;
}
.navigation-links a {
  text-decoration: none;
  background: #4a4ff7;
  color: white;
  padding: 15px 30px;
  border-radius: 12px;
  border: 1px solid #4a4ff7;
}
a:hover {
  background: #e8d9f9;
  color: #4a4ff7;
}
